# Terraform state files
*.tfstate
*.tfstate.backup
*.hcl
# Crash logs
crash.log

# Terraform directories
.terraform/
.terraform/*

# Ignore any secret variable files
*.tfvars.json
*.env

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
*.backup
